.icon-svg {
  display: inline-block;
  width: 1.25rem; 
  height: 1.25rem;
  color: currentColor;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}


.inline-icon svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  color: inherit; 
}
