<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onLogin()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" name="username" required />
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" name="password" type="password" required />
          </mat-form-field>
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  